    body {
        width: 80%;
        margin: auto;
    }
    #nav {
        padding: 5px 0 5px 0;
        /* padding: 5px 0; */
        margin: auto;
        text-align: center;
    }
    #nav ul li {
        display: inline-block;
        font-weight: bold;
        padding: 0 10px;
        text-align: center;
    }
    #nav a {
        text-decoration: none;
        color: black;
    }
    
    img {
        float:right;
        width: 20%;
    }