body{
    margin:0;
    font-family: Arial, sans-serif;
    background:#111;
    color:#ffffff;
    text-align: center;
    padding: 20px;
    font-size: 1rem;
}

header{
    background:#222;
    padding:20px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

nav {
    background:#a9a9a9;
    padding:10px;
    color:#000000;
    text-align: center;
}

nav ul {
    list-style:none;
    padding:0;
    margin:0;
    display:flex;
    justify-content: center;
}

nav a{
    color:#000000;
    text-decoration: none;
    padding: 5px 15px;
    background-color:#808080;
    border-radius: 10px;
}

aside{
    width:20%;
    background:#222;
    padding:15px;
    margin:20px auto; 
    border-radius:8px;
    border: 1px solid #d3d3d3;
    display:inline-block;
    vertical-align: top;
}
main{
    padding: 30px;
    background: #1a1a1a;
    margin: 30px 20px;
    border-radius: 12px;
    border: 2px solid #333;
    box-shadow: 0 0 10px #222;
    font-size: 1rem;
    display:inline-block;
    width:75%;
    vertical-align: top;
    font-size: 1rem;
}  

section{
    background:#222;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid #444;
}

#Wlogo img{ 
    width:400px;
    height:auto;
    display:block;
    margin:8px auto;
    border-radius:20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    margin-bottom: 20px;
    display: inline-block;
    border: 2px solid #555;
    border-radius: 8px;
    background: #181818;
}

#lore_table img {
    width: 140px;
    height: auto;
    border-radius: 8px;
}

th {
    background: #444;
    padding: 12px;
    border: 1px solid #555;
    color: #ff4444;
    border-bottom: 2px solid #ff4444;
}

td {
    padding: 10px;
    border: 1px solid #333;
    background: #222;
}

footer{
    padding:15px;
    background-color:#222;
    margin-top:20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#fooldalarticles h3{
    font-size: 2rem;
}
